﻿@{
    bool HasError = TempData["neba_error"] != null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@SiteConfigUtils.GetTitlePrefix()@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fontfaces.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/adminstyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/MarkdownDeep.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/admincommon.js")"></script>
    @RenderSection("HeaderInsert", false)
    <script type="text/javascript">
        @RenderSection("JsVarInsert", false)
        $(window).load(function () {
            @RenderSection("JsOnLoadInsert", false)
            $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Image", action = "GetRandomBackgroundImage" })', setBackgroundGiven);
        });
    </script>
</head>
<body id="home">
    <div id="bgloadingoverlay"></div>
    <div id="bgoverlay"></div>
    <div id="shadeoverlay"></div>
    @if (HasError)
    {<div id="errornotify">@TempData["neba_error"]</div>}
    <div id="wrapper">
        <div id="header">
            <div id="headertop">
                <a id="logo" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/header/logo.png")" alt=""/></a>
            </div>
            <div id="headermenu">
                <a class="active" href="@Url.Action("Index", "Home")"><span>Home</span></a>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">©2014 Wanfung Joshua Lee | <a href="@Url.Action("ClearAuth", "Home")">Clear Auth</a> | <a id="hidetoggle" onclick="toggleWrapper()">Toggle Content Visibility</a></div>
</body>
</html>
