﻿@model ImageSetDto
@using (Html.BeginForm())
{
    <div class="contentbox">
        <div class="contentboxtop">
            <span class="boxtitle">Image Set</span>
        </div>
        <div class="contentboxbody">
            @Html.Hidden("authPassPhrase", CommonUtils.GenerateTimeBasedHashAdminPhrase(DateTime.Now.ToUniversalTime()))
            @Html.HiddenFor(m => m.Id)
            @Html.LabelFor(m => m.Name, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Name, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.Private, new { @class = "fieldlabel" })
            @Html.CheckBoxFor(m => m.Private)
        </div>
        <div class="contentboxend">
            <input type="submit" class="green button" value="Submit" />
        </div>
    </div>
}