﻿@model ImageAdminDto
<div class="contentbox" id="imagebody">
    <div class="contentboxbody">
        <img src="@Url.Content(Model.DisplayPath)" alt="" />
    </div>
    <div class="contentboxend" id="imagecaption">
        @Model.Caption
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="contentbox">
        <div class="contentboxtop">
            <span class="boxtitle">Image</span>
        </div>
        <div class="contentboxbody">
            @Html.Hidden("authPassPhrase", CommonUtils.GenerateTimeBasedHashAdminPhrase(DateTime.Now.ToUniversalTime()))
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.FilePath)
            @Html.HiddenFor(m => m.ThumbPath)
            @Html.HiddenFor(m => m.DisplayPath)
            @Html.LabelFor(m => m.Caption, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Caption, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.TakenAt, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.TakenAt, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.Camera, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Camera, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.Aperture, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Aperture, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.Exposure, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Exposure, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.Iso, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.Iso, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.FocalLength, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.FocalLength, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.FocalLengthIn35mm, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.FocalLengthIn35mm, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImageSetId, new { @class = "fieldlabel" })
            @Html.DropDownListFor(m => m.ImageSetId, GalleryAdminRepo.GenerateSelectListOfSets(), new { @class = "fieldfield" })
        </div>
        <div class="contentboxend">
            <input type="submit" class="green button" value="Submit" />
        </div>
    </div>
}