﻿@{
    Layout = "~/Views/Shared/_HeaderFooter.cshtml";
}
<div class="pagewrap left side">
    <div class="sidebox" id="navbox">
        <div class="sideboxtitle">Navigation</div>
        <div class="sideboxbody">
            <a href="@Url.Action("BlogPosts", "Blog")"><span>Manage Blog Posts</span></a>
            <a href="@Url.Action("BlogCategories", "Blog")"><span>Manage Blog Categories</span></a>
            <a href="@Url.Action("ImageSets", "Gallery")"><span>Manage Image Sets</span></a>
            <a href="@Url.Action("ProcessUploadedImages", "Gallery")"><span>Upload/Process Images</span></a>
            @RenderSection("Pagination", false)
            <a class="paging prev" id="pagingprev" href="#" style="display: none"><span>Previous</span></a>
            <a class="paging next" id="pagingnext" href="#" style="display: none"><span>Next</span></a>
        </div>
    </div>
</div>
<div class="pagewrap right main">@RenderBody()</div>
@section HeaderInsert{@RenderSection("HeaderInsert", false)}
@section JsVarInsert{@RenderSection("JsVarInsert", false)}
@section JsOnLoadInsert{@RenderSection("JsOnLoadInsert", false)}