﻿@model ImageDeleteModel
@{
    ViewBag.Title = "Delete Image";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
@using (Html.BeginForm("DeleteImageConf", "Gallery"))
{
    <div id="dataloadingbox">
        @Html.Hidden("authPassPhrase", CommonUtils.GenerateTimeBasedHashAdminPhrase(DateTime.Now.ToUniversalTime()))
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("page", Model.Page)
        @Html.Hidden("setId", Model.SetId)
        <input type="submit" class="pink button" id="deleteconf" value="Delete" />
    </div>
}