﻿@model int
@{
    ViewBag.Title = "Delete Image Set";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
@using (Html.BeginForm("DeleteImageSetConf", "Gallery"))
{
    <div id="dataloadingbox">
        @Html.Hidden("authPassPhrase", CommonUtils.GenerateTimeBasedHashAdminPhrase(DateTime.Now.ToUniversalTime()))
        @Html.Hidden("id", Model)
        <input type="submit" class="pink button" id="deleteconf" value="Delete" />
    </div>
}
