﻿@model ImageEditModel
@{
    ViewBag.Title = "Edit Image";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
<div class="contentbox" id="imagebody">
    <div class="contentboxbody">
        <img src="@Url.Content(Model.ImgDto.DisplayPath)" alt="" />
    </div>
    <div class="contentboxend" id="imagecaption">
        @Model.ImgDto.Caption
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="contentbox">
        <div class="contentboxtop">
            <span class="boxtitle">Image</span>
        </div>
        <div class="contentboxbody">
            @Html.Hidden("authPassPhrase", CommonUtils.GenerateTimeBasedHashAdminPhrase(DateTime.Now.ToUniversalTime()))
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Page)
            @Html.HiddenFor(m => m.SetId)
            @Html.HiddenFor(m => m.ImgDto.Id)
            @Html.HiddenFor(m => m.ImgDto.FilePath)
            @Html.HiddenFor(m => m.ImgDto.ThumbPath)
            @Html.HiddenFor(m => m.ImgDto.DisplayPath)
            @Html.LabelFor(m => m.ImgDto.Caption, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.Caption, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.TakenAt, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.TakenAt, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.Camera, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.Camera, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.Aperture, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.Aperture, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.Exposure, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.Exposure, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.Iso, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.Iso, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.FocalLength, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.FocalLength, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.FocalLengthIn35mm, new { @class = "fieldlabel" })
            @Html.TextBoxFor(m => m.ImgDto.FocalLengthIn35mm, new { @class = "fieldfield" })
            @Html.LabelFor(m => m.ImgDto.ImageSetId, new { @class = "fieldlabel" })
            @Html.DropDownListFor(m => m.ImgDto.ImageSetId, GalleryAdminRepo.GenerateSelectListOfSets(), new { @class = "fieldfield" })
        </div>
        <div class="contentboxend">
            <input type="submit" class="green button" value="Submit" />
        </div>
    </div>
}