﻿@model ImageSetListModel
@{
    ViewBag.Title = "Image Sets";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
<div class="contentbox">
    <div class="contentboxtop">
        <span class="boxtitle">Image Sets</span>
    </div>
    <div class="contentboxbody">
        @if (Model.ListData.Count() > 0)
        {
            <table class="admintable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Count</td>
                        <td>Private</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ImageSetDto iS in Model.ListData)
                    {
                        <tr>
                            <td>@iS.Name</td>
                            <td>@iS.Count</td>
                            <td>@iS.Private</td>
                            <td>@Html.ActionLink("Manage", "ManageImageSet", new { id = iS.Id }, new { @class = "actionlink" })@Html.ActionLink("Edit", "EditImageSet", new { id = iS.Id }, new { @class = "actionlink" })@Html.ActionLink("Delete", "DeleteImageSet", new { id = iS.Id }, new { @class = "actionlink" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span id="adminliststatus">No image sets</span>
        }
    </div>
    <div class="contentboxend">
        <a href="@Url.Action("CreateImageSet")" class="gray button">Create Image Set</a>
    </div>
</div>
@section Pagination{
    @if (Model.Page > 1)
    {
        <a class="paging prev" id="pagingprev" href="@Url.Action("ImageSets", new { page = Model.Page - 1 })"><span>Previous</span></a>
    }
    @if (Model.MaxPage > Model.Page)
    {
        <a class="paging next" id="pagingnext" href="@Url.Action("ImageSets", new { page = Model.Page + 1 })"><span>Next</span></a>
    }
}
