﻿@model ImageListModel
@{
    ViewBag.Title = "Manage Image Set";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
@if (Model.ListData.Count() > 0)
{
    <div class="contentbox">
        <div class="contentboxtop">
            <span class="boxtitle">Image Set</span>
        </div>
        <div class="contentboxbody">
            <table class="admintable">
                <thead>
                    <tr>
                        <td>Thumbnail</td>
                        <td>Caption</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ImageAdminDto i in Model.ListData)
                    {
                        <tr>
                            <td><img src="@i.ThumbPath" class="adminimagelist" alt="" /></td>
                            <td>@i.Caption</td>
                            <td>@Html.ActionLink("Edit", "EditImage", "Gallery", new { id = i.Id, page = Model.Page, setId = Model.ImageSetId }, new { @class = "actionlink" })@Html.ActionLink("Delete", "DeleteImage", "Gallery", new { id = i.Id, page = Model.Page, setId = Model.ImageSetId }, new { @class = "actionlink" })</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="contentboxend"></div>
    </div>
}
else
{
    <div id="dataloadingbox">No images in this set</div>
}
@section Pagination{
    @if (Model.Page > 1)
    {
        <a class="paging prev" id="pagingprev" href="@Url.Action("ManageImageSet", new { page = Model.Page - 1, id = Model.ImageSetId })"><span>Previous</span></a>
    }
    @if (Model.MaxPage > Model.Page)
    {
        <a class="paging next" id="pagingnext" href="@Url.Action("ManageImageSet", new { page = Model.Page + 1, id = Model.ImageSetId })"><span>Next</span></a>
    }
}
