﻿@model ImageAdminDto
@{
    ViewBag.Title = "Upload Images";
    Layout = "~/Views/Shared/_TwoColumn.cshtml";
}
@if (Model != null)
{
    @Html.Partial("_ImageForm", Model)
}
else
{
    <div id="dataloadingbox">No pending images</div>
    
    using (Html.BeginForm("UploadImages", "Gallery", FormMethod.Post, new { id = "uploadform" }))
    {
    <div class="contentbox">
        <div class="contentboxtop">
            <span class="boxtitle">Upload Images</span>
        </div>
        <div class="contentboxbody">
            <input id="uploadfilelist" class="fieldfield" name="images" type="file" multiple="multiple" accept="image/jpeg" />
        </div>
        <div class="contentboxend">
            <input type="submit" class="green button" value="Upload" id="uploadbtn" onclick="uploadProcess()" />
        </div>
    </div>
    }
}
@section HeaderInsert{
    <script type="text/javascript">
        var uploadProcess = function () {
            var upload_btn = $('#uploadbtn');
            upload_btn.attr('value', 'Uploading...');
            upload_btn.attr('disabled', 'disabled');
            var upload_file_list = $('#uploadfilelist');
            var files_array = upload_file_list[0].files;
            upload_file_list.attr('disabled', 'disabled');
            for (i = 0; i < files_array.length; i++) {
                var uploadReq = new XMLHttpRequest();
                var filedata = new FormData();
                filedata.append('image', files_array[i]);
                uploadReq.open("POST", '@Url.Action("UploadImage")', false);
                uploadReq.send(filedata);
            }
            $('#uploadform').submit();
        }
    </script>
}