﻿<div class="sidebox" id="navbox">
    <div class="sideboxtitle">Navigation</div>
    <div class="sideboxbody">
        <a id="retgal" href="@Url.Action("Index", "Gallery")"><span>Back to Gallery Main</span></a>
        <a id="setreturnnav" href="#" style="display: none"><span>Back to Set</span></a>
        <a class="paging prev" id="pagingprev" href="#" style="display: none"><span>Previous</span></a>
        <a class="paging next" id="pagingnext" href="#" style="display: none"><span>Next</span></a>
    </div>
</div>