﻿@{
    Layout = "~/Views/Shared/_LeftSidebar.cshtml";
}
@RenderBody()
@section SidebarBody{
    @Html.Partial("_GalleryNav")
    @RenderSection("SidebarBody", false)
}
@section HeaderInsert{
    <link href="@Url.Content("~/Content/css/gallerystyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/gallery.js")"></script>
    @RenderSection("HeaderInsert", false)
}
@section JsVarInsert{
    var nav_name = 'Gallery';
    @RenderSection("JsVarInsert", false)
}
@section JsOnLoadInsert{
    @RenderSection("JsOnLoadInsert", false)
}