﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@SiteConfigUtils.GetTitlePrefix()@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fontfaces.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var root_url = '@SiteConfigUtils.ConvertToJavaScriptSafe(SiteConfigUtils.GetSiteRootUrl())';
        var title_prefix = '@SiteConfigUtils.ConvertToJavaScriptSafe(SiteConfigUtils.GetTitlePrefix())';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
    @RenderSection("HeaderInsert", false)
    <script type="text/javascript">
        @RenderSection("JsVarInsert", false)
        $(window).load(function () {
            pingCurrentNavLink(nav_name);
            @RenderSection("JsOnLoadInsert", false)
            $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ProxyMe", action = "Fetch", api = "Image/GetRandomBackgroundImage" })', setBackgroundGiven);
        });
    </script>
</head>
<body id="home">
    <div id="bgloadingoverlay"></div>
    <div id="bgoverlay"></div>
    <div id="shadeoverlay"></div>
    <div id="wrapper">
        <div id="header">
            <div id="headertop">
                <a id="logo" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/header/logo.png")" alt=""/></a>
            </div>
            <div id="headermenu">
                <a href="@Url.Action("Index", "Home")"><span>Home</span></a>
                <a href="@Url.Action("Index", "Blog")"><span>Blog</span></a>
                <a href="@Url.Action("Index", "Gallery")"><span>Gallery</span></a>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">©2014 Wanfung Joshua Lee | <a id="hidetoggle" onclick="toggleWrapper()">Show the Background</a></div>
</body>
</html>
