﻿@{
    Layout = "~/Views/Shared/_HeaderFooter.cshtml";
}
<div class="pagewrap left side">@RenderSection("SidebarBody")</div>
<div class="pagewrap right main">@RenderBody()</div>
@section HeaderInsert{@RenderSection("HeaderInsert", false)}
@section JsVarInsert{@RenderSection("JsVarInsert", false)}
@section JsOnLoadInsert{@RenderSection("JsOnLoadInsert", false)}