﻿@model ImageSetModel
@{
    ViewBag.Title = "Image Set";
    Layout = "~/Views/Gallery/_GalleryCommon.cshtml";
}
<div id="dataloadingbox">
    Loading...
</div>
<div class="tileenabler" id="imagetilecontainer" style="display: none"></div>
@section JsOnLoadInsert{
    $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ProxyMe", action = "Fetch", api = "ImageSet/Get" + Model.ApiAppend })', function(data){
        loadSetImages(data,@Model.Id);
        if(data.CallSuccess){
            prepImageSetPagination(data.MaxPage, @Html.Raw(Model.UrlParamJsonData));
            document.title = title_prefix + data.SetName;
        }
    });
}