﻿@model ImageBySetModel
@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Gallery/_GalleryCommon.cshtml";
}
<div id="dataloadingbox">
    Loading...
</div>
<div class="contentbox" id="imagebody" style="display: none"></div>
@section SidebarBody{
    <div class="sidebox" id="exifbox" style="display: none">
        <div class="sideboxtitle">EXIF</div>
        <div class="sideboxbody">
            <table id="exiftable">
                <tbody>
                    <tr>
                        <td class="left">Taken At</td>
                        <td class="right" id="taken_at_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">Camera</td>
                        <td class="right" id="camera_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">Aperture</td>
                        <td class="right" id="aperture_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">Exposure</td>
                        <td class="right" id="exposure_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">ISO</td>
                        <td class="right" id="iso_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">Focal Length</td>
                        <td class="right" id="focal_length_exif"></td>
                    </tr>
                    <tr>
                        <td class="left">Focal Length (35mm)</td>
                        <td class="right" id="focal_length_35mm_exif"></td>
                    </tr>
                </tbody>
            </table>
            <a class="green button" id="downloadfullsize" href="#">Download Full Resolution</a>
        </div>
    </div>
}
@section JsOnLoadInsert{
    $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ProxyMe", action = "Fetch", api = "ImageSet/GetImage" + Model.ApiAppend })', function(data){
        loadImage(data);
        loadExifBox(data);
        if(data.CallSuccess){
            document.title = title_prefix + data.Payload.Caption;
            prepSetImagePagination(data, @Html.Raw(Model.UrlParamJsonData));
            prepSetReturnNav(@Html.Raw(Model.UrlParamJsonData), @Html.Raw(SiteConfigUtils.GetImagesPerPage()));
        }
    });
}

