﻿@model GalleryCommonModel
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Gallery/_GalleryCommon.cshtml";
}
<div id="dataloadingbox">
    Loading...
</div>
<div class="tileenabler" id="imagesettilecontainer" style="display: none"></div>
@section JsOnLoadInsert{
    $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ProxyMe", action = "Fetch", api = "ImageSet/GetMultiple" + Model.ApiAppend })', function(data){
        loadImageSets(data);
        if(data.CallSuccess)
            prepImageSetsPagination(data.MaxPage, @Html.Raw(Model.UrlParamJsonData));
    });
}