#loginbox > .contentboxbody {
    text-align: center;
}

#passwordfield {
    display: inline-block;
    width: 50%;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999999;
    text-align: center;
}

#adminliststatus {
    display: block;
    width: 100%;
    text-align: center;
}

.adminimagelist {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
}

.fieldlabel {
    display: block;
    margin-bottom: 5px;
}

.fieldfield {
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    line-height: 24px;
    margin-bottom: 16px;
}

#deleteconf {
    display: block;
    width: 100%;
}

#errornotify {
    background: #ffffff;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background: #eeeeee url(../images/begin-bg.png) repeat-x top;
    border: 1px solid rgba(238, 238, 238, 0);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    padding: 16px;
    font-family: 'PTSansCaption', 'STHeiti', 'Microsoft JhengHei', 'SimHei', sans-serif;
    text-align: center;
    display: block;
}

#imagebody {
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}

    #imagebody > .contentboxbody {
        padding: 0;
    }

        #imagebody > .contentboxbody > img {
            width: 100%;
            height: auto;
            display: block;
        }

#imagecaption {
    font-family: 'Exo', 'STHeiti', 'Microsoft JhengHei', 'SimHei', sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #444444;
}

textarea {
    font-family: 'PTSans','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
}

.actionlink {
    display: block;
}
.actionlink:hover {
    background-color: #eeeeee;
}