#imagebody {   
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}

#imagebody > .contentboxbody {
	padding: 0;
}

#imagebody > .contentboxbody > img {
	width: 100%;
	height: auto;
	display: block;
}

#imagecaption {
    font-family: 'Exo','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #444444;
}

#downloadfullsize {
	display: block;
}

.imagesettile > .elementwrap,
.imagesettile > .elementwrap > .elementbody,
.imagesettile > .elementwrap > .elementbody > div,
.imagesettile > .elementwrap > .elementoverlay > a > div {
	height: 320px;
	width: 320px;
}

.imagetile > .elementwrap,
.imagetile > .elementwrap > .elementbody,
.imagetile > .elementwrap > .elementbody > div,
.imagetile > .elementwrap > .elementoverlay > a > div {
	height: 208px;
	width: 208px;
}

#exiftable{
	width:100%;
    font-size: 12px;
}
#exiftable > tbody > tr > td {
	padding-bottom: 10px;
}
#exiftable > tbody > tr > .left {
	text-align: right;
    width: 40%;
	padding-right: 5px;
}
#exiftable > tbody > tr > .right {
	text-align: left;
	padding-left: 5px;
    width: 60%;
}

#fbsharelink {
    margin-top:16px;
}