/* =================================================
* Properties order:
* display
* position
* dimension
* margin
* padding
* borders
* background
* content (size,color,font,etc)
* z-index
*
* Margins:
* 20px - div-content border
* 10px - content separator
* 20px - elements separator
*
* First(top/left)-heavy spacing - last element is adjusted
* #24bfb6
* ================================================= */

/* general ================================================= */
body {
    min-height: 100%;
    width: 100%;
    background: #444444 no-repeat fixed center center;
    color: #171717;
    font-family: 'PTSans','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
    font-size: 14px;
    line-height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
}

strong, b, mark {
    font-weight: bold;
    font-style: inherit;
}

em, i, cite, q, address, dfn, var {
    font-style: italic;
    font-weight: inherit;
}

blockquote, q {
    font-family: 'UbuntuMono','STHeiti','Microsoft JhengHei','SimHei', monospace;
    padding: 0 16px;
    margin-bottom: 16px;
}

blockquote > :last-child, q > :last-child {
    margin-bottom: 0;
}

ol, ul {
    counter-reset: li;
    margin: 0 0 16px 0;
    padding-left: 0;
}

    ol > li, ul > li {
        position: relative;
        margin: 0 0 6px 2em;
        padding: 4px 8px;
        list-style: none;
        border-top: 2px solid #24bfb6;
    }

        ol > li:before, ul > li:before {
            position: absolute;
            top: -2px;
            left: -2em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 2em;
            margin-right: 8px;
            padding: 4px;
            border-top: 2px solid #24bfb6;
            color: #ffffff;
            background: #24bfb6;
            font-weight: bold;
            text-align: center;
        }

        ol > li:before {
            content: counter(li);
            counter-increment: li;
        }

        ul > li:before {
            content: '-';
        }

li > :last-child {
    margin-bottom: 0px;
}

#bgloadingoverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #444444 url(../images/loader.gif) no-repeat fixed center center;
    z-index: -3;
}

#bgoverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/overlay.png) repeat fixed;
    z-index: -1;
}

#shadeoverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: -2;
}

a {
    color: #24bfb6;
    text-decoration: none;
}

    a:hover {
        color: #ff7400;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
    color: #444444;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 10px;
}

h5 {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin-bottom: 10px;
}

h6 {
    font-size: 10px;
    line-height: 12px;
    color: #888888;
    margin-bottom: 5px;
}

hr {
    border: none;
    border-top: 1px solid #bbbbbb;
    margin: 16px 0px;
}

p {
    margin-bottom: 16px;
}

table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 16px;
}

thead {
    border-bottom: 1px solid #dddddd;
}

td {
    vertical-align: middle;
    padding: 5px;
}

.button {
    background: #27cdc5;
    background: -moz-linear-gradient(top,hsla(177,68%,48%,1) 0%,hsla(177,69%,40%,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsla(177,68%,48%,1)),color-stop(100%,hsla(177,69%,40%,1)));
    background: -webkit-linear-gradient(top,hsla(177,68%,48%,1) 0%,hsla(177,69%,40%,1) 100%);
    background: linear-gradient(top,hsla(177,68%,48%,1) 0%,hsla(177,69%,40%,1) 100%);
    border: 1px solid #20aba4;
    border-bottom: 1px solid #1fa29c;
    border: 1px solid hsla(177,68%,40%,1);
    border-bottom: 1px solid hsla(177,68%,38%,1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: 0px -1px rgba(0,0,0,0.2);
}

    .button:hover {
        background: #31d7cf;
        background: -moz-linear-gradient(top,hsla(177,67%,52%,1) 0%,hsla(177,69%,44%,1) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsla(177,67%,52%,1)),color-stop(100%,hsla(177,69%,44%,1)));
        background: -webkit-linear-gradient(top,hsla(177,67%,52%,1) 0%,hsla(177,69%,44%,1) 100%);
        background: linear-gradient(top,hsla(177,67%,52%,1) 0%,hsla(177,69%,44%,1) 100%);
        border: 1px solid #23bcb4;
        border-bottom: 1px solid #22b4ad;
        border: 1px solid hsla(177,68%,44%,1);
        border-bottom: 1px solid hsla(177,68%,42%,1);
    }

    .button:active {
        background: #24bcb5;
        background: hsla(177,68%,44%,1);
        border: 1px solid hsla(177,68%,40%,1);
        border-top: 1px solid hsla(177,68%,34%,1);
        box-shadow: none;
    }

.rounded.button {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.gray.button {
    background: #eeeeee;
    background: -moz-linear-gradient(top,#eeeeee 0%,#dddddd 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top,#eeeeee 0%,#dddddd 100%);
    background: linear-gradient(top,#eeeeee 0%,#dddddd 100%);
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #cccccc;
    -moz-box-shadow: 0 1px 2px rgba(170,170,170,0.2),inset 0px 1px 0px #f8f8f8;
    -webkit-box-shadow: 0 1px 2px rgba(170,170,170,0.2),inset 0px 1px 0px #f8f8f8;
    box-shadow: 0 1px 2px rgba(170,170,170,0.2),inset 0px 1px 0px #f8f8f8;
    color: #666666 !important;
    text-shadow: 0px 1px #ffffff;
}

    .gray.button:hover {
        background: #f8f8f8;
        background: -moz-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#e8e8e8));
        background: -webkit-linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
        background: linear-gradient(top,#f8f8f8 0%,#e8e8e8 100%);
        border: 1px solid #dddddd;
        border-bottom: 1px solid #cccccc;
        color: #444444 !important;
    }

    .gray.button:active {
        background: #eeeeee;
        box-shadow: none;
        border: 1px solid #dddddd;
        border-top: 1px solid #bbbbbb;
    }

.black.button {
    background: #444444;
    background: -moz-linear-gradient(top,#444444 0%,#2c2c2c 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#444444),color-stop(100%,#2c2c2c));
    background: -webkit-linear-gradient(top,#444444 0%,#2c2c2c 100%);
    background: linear-gradient(top,#444444 0%,#2c2c2c 100%);
    border: 1px solid #222222;
    border-top: 1px solid #282828;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1),inset 0px 1px 0px #585858;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1),inset 0px 1px 0px #585858;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),inset 0px 1px 0px #585858;
    color: #eeeeee !important;
    text-shadow: 0px -1px #222222;
}

    .black.button:hover {
        background: #555555;
        background: -moz-linear-gradient(top,#555555 0%,#3c3c3c 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#555555),color-stop(100%,#3c3c3c));
        background: -webkit-linear-gradient(top,#555555 0%,#3c3c3c 100%);
        background: linear-gradient(top,#555555 0%,#3c3c3c 100%);
        border: 1px solid #2a2a2a;
        border-top: 1px solid #383838;
        -moz-box-shadow: inset 0px 1px 0px #787878;
        -webkit-box-shadow: inset 0px 1px 0px #787878;
        box-shadow: inset 0px 1px 0px #787878;
    }

    .black.button:active {
        background: #333333;
        box-shadow: none;
        border: 1px solid #282828;
        border-top: 1px solid #202020;
    }

.green.button {
    background: #92cc00;
    background: -moz-linear-gradient(top,hsla(77,100%,40%,1) 0%,hsla(77,100%,32%,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsla(77,100%,40%,1)),color-stop(100%,hsla(77,100%,32%,1)));
    background: -webkit-linear-gradient(top,hsla(77,100%,40%,1) 0%,hsla(77,100%,32%,1) 100%);
    background: linear-gradient(top,hsla(77,100%,40%,1) 0%,hsla(77,100%,32%,1) 100%);
    color: #ffffff !important;
    border: 1px solid #74a300;
    border-bottom: 1px solid #668f00;
    border: 1px solid hsla(77,100%,30%,1);
    border-bottom: 1px solid hsla(77,100%,28%,1);
}

    .green.button:hover {
        background: #a0e000;
        background: -moz-linear-gradient(top,hsla(77,100%,44%,1) 0%,hsla(77,100%,36%,1) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsla(77,100%,44%,1)),color-stop(100%,hsla(77,100%,36%,1)));
        background: -webkit-linear-gradient(top,hsla(77,100%,44%,1) 0%,hsla(77,100%,36%,1) 100%);
        background: linear-gradient(top,hsla(77,100%,44%,1) 0%,hsla(77,100%,36%,1) 100%);
        border: 1px solid #84b800;
        border-bottom: 1px solid #7cad00;
        border: 1px solid hsla(77,100%,36%,1);
        border-bottom: 1px solid hsla(77,100%,34%,1);
    }

    .green.button:active {
        background: #84b800;
        background: hsla(77,100%,36%,1);
        border: 1px solid hsla(77,100%,32%,1);
        border-top: 1px solid hsla(77,100%,26%,1);
    }

.orange.button {
    background: #ff780a;
    background: -moz-linear-gradient(top,hsl(27,100%,52%) 0%,hsl(27,100%,40%) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(27,100%,52%)),color-stop(100%,hsl(27,100%,40%)));
    background: -webkit-linear-gradient(top,hsl(27,100%,52%) 0%,hsl(27,100%,40%) 100%);
    background: linear-gradient(top,hsl(27,100%,52%) 0%,hsl(27,100%,40%) 100%);
    color: #ffffff !important;
    border: 1px solid #d66000;
    border-bottom: 1px solid #c25700;
    border: 1px solid hsla(27,100%,42%,1);
    border-bottom: 1px solid hsla(27,100%,38%,1);
}

    .orange.button:hover {
        background: #ff831e;
        background: -moz-linear-gradient(top,hsl(27,100%,56%) 0%,hsl(27,100%,48%) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(27,100%,56%)),color-stop(100%,hsl(27,100%,48%)));
        background: -webkit-linear-gradient(top,hsl(27,100%,56%) 0%,hsl(27,100%,48%) 100%);
        background: linear-gradient(top,hsl(27,100%,56%) 0%,hsl(27,100%,48%) 100%);
        border: 1px solid #e06500;
        border-bottom: 1px solid #d66000;
        border: 1px solid hsla(27,100%,44%,1);
        border-bottom: 1px solid hsla(27,100%,42%,1);
    }

    .orange.button:active {
        background: #f56e00;
        background: hsla(27,100%,48%,1);
        border: 1px solid hsla(27,100%,40%,1);
        border-top: 1px solid hsla(27,100%,34%,1);
    }

.pink.button {
    background: #ff0a88;
    background: -moz-linear-gradient(top,hsl(329,100%,52%) 0%,hsl(329,100%,40%) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(329,100%,52%)),color-stop(100%,hsl(329,100%,40%)));
    background: -webkit-linear-gradient(top,hsl(329,100%,52%) 0%,hsl(329,100%,40%) 100%);
    background: linear-gradient(top,hsl(329,100%,52%) 0%,hsl(329,100%,40%) 100%);
    color: #ffffff !important;
    border: 1px solid #d6006f;
    border-bottom: 1px solid #c20064;
    border: 1px solid hsla(329,100%,42%,1);
    border-bottom: 1px solid hsla(329,100%,38%,1);
}

    .pink.button:hover {
        background: #ff339c;
        background: -moz-linear-gradient(top,hsl(329,100%,60%) 0%,hsl(329,100%,50%) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(329,100%,60%)),color-stop(100%,hsl(329,100%,50%)));
        background: -webkit-linear-gradient(top,hsl(329,100%,60%) 0%,hsl(329,100%,50%) 100%);
        background: linear-gradient(top,hsl(329,100%,60%) 0%,hsl(329,100%,50%) 100%);
        border: 1px solid #e00074;
        border-bottom: 1px solid #d6006f;
        border: 1px solid hsla(329,100%,44%,1);
        border-bottom: 1px solid hsla(329,100%,42%,1);
    }

    .pink.button:active {
        background: #f5007e;
        background: hsla(329,100%,48%,1);
        border: 1px solid hsla(329,100%,40%,1);
        border-top: 1px solid hsla(329,100%,34%,1);
    }

.yellow.button {
    background: #ffe333;
    background: -moz-linear-gradient(top,hsl(52,100%,60%) 0%,hsl(52,100%,42%) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(52,100%,60%)),color-stop(100%,hsl(52,100%,42%)));
    background: -webkit-linear-gradient(top,hsl(52,100%,60%) 0%,hsl(52,100%,42%) 100%);
    background: linear-gradient(top,hsl(52,100%,60%) 0%,hsl(52,100%,42%) 100%);
    color: #ffffff !important;
    border: 1px solid #ebcb00;
    border-bottom: 1px solid #d6ba00;
    border: 1px solid hsla(52,100%,46%,1);
    border-bottom: 1px solid hsla(52,100%,42%,1);
}

    .yellow.button:hover {
        background: #ffe751;
        background: -moz-linear-gradient(top,hsl(52,100%,66%) 0%,hsl(52,100%,46%) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(52,100%,66%)),color-stop(100%,hsl(52,100%,46%)));
        background: -webkit-linear-gradient(top,hsl(52,100%,66%) 0%,hsl(52,100%,46%) 100%);
        background: linear-gradient(top,hsl(52,100%,66%) 0%,hsl(52,100%,46%) 100%);
    }

    .yellow.button:active {
        background: #ebcb00;
        background: hsl(52,100%,46%);
        border: 1px solid hsl(52,100%,42%);
        border-top: 1px solid hsl(52,100%,40%);
    }

.purple.button {
    background: #c83dff;
    background: -moz-linear-gradient(top,hsl(283,100%,62%) 0%,hsl(283,100%,46%) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(283,100%,62%)),color-stop(100%,hsl(283,100%,46%)));
    background: -webkit-linear-gradient(top,hsl(283,100%,62%) 0%,hsl(283,100%,46%) 100%);
    background: linear-gradient(top,hsl(283,100%,62%) 0%,hsl(283,100%,46%) 100%);
    color: #ffffff !important;
    border: 1px solid #a800eb;
    border-bottom: 1px solid #9a00d6;
    border: 1px solid hsl(283,100%,46%);
    border-bottom: 1px solid hsl(283,100%,42%);
}

    .purple.button:hover {
        background: #d05bff;
        background: -moz-linear-gradient(top,hsl(283,100%,68%) 0%,hsl(283,100%,52%) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,hsl(283,100%,68%)),color-stop(100%,hsl(283,100%,52%)));
        background: -webkit-linear-gradient(top,hsl(283,100%,68%) 0%,hsl(283,100%,52%) 100%);
        background: linear-gradient(top,hsl(283,100%,68%) 0%,hsl(283,100%,52%) 100%);
        border: 1px solid #af00f5;
        border: 1px solid hsl(283,100%,48%);
    }

    .purple.button:active {
        background: #c229ff;
        background: hsl(283,100%,58%);
        border: 1px solid hsl(283,100%,48%);
        border-top: 1px solid hsl(283,100%,42%);
    }

/* wrapper ================================================= */
#wrapper {
    width: 938px;
    margin: 16px auto 45px;
}

    #wrapper:after {
        content: '';
        display: table;
        clear: both;
    }

#hidetoggle {
    cursor: pointer;
}

/* header ================================================= */
#header {
    border-top: 1px solid #3a3a3a;
    background: #1c1c1c url(../images/header/nav-bg.png) repeat-x bottom;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
}

#headertop {
    max-height: 100px;
    padding: 0 10px 1px;
    margin: 0 1px 1px;
    text-align: center;
}

    #headertop > a > img {
        max-height: 100px;
        width: auto;
    }

#headermenu {
    height: 33px;
    margin: 0 1px 1px 1px;
    padding: 8px 10px 7px;
}

    #headermenu > a {
        display: inline-block;
        padding-right: 6px;
        margin-right: 10px;
        color: #cccccc;
        font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
    }

        #headermenu > a:last-child {
            margin-right: 0;
        }

        #headermenu > a > span {
            display: block;
            height: 33px;
            line-height: 33px;
            padding: 0 4px 0 10px;
        }

        #headermenu > a:hover {
            background: url(../images/header/nav-hover-right.png) no-repeat right;
            color: #ffffff;
        }

            #headermenu > a:hover > span {
                background: url(../images/header/nav-hover-left.png) no-repeat left;
            }

        #headermenu > a:active,
        #headermenu > a.active {
            background: url(../images/header/nav-active-right.png) no-repeat right;
            color: #ffffff;
        }

            #headermenu > a:active > span,
            #headermenu > a.active > span {
                background: url(../images/header/nav-active-left.png) no-repeat left;
            }

/* page style wrappers ================================================= */
.pagewrap > * {
    margin-bottom: 16px;
}

    .pagewrap > *:last-child {
        margin-bottom: 0;
    }

.pagewrap.full {
    width: 100%;
}

.pagewrap.side {
    width: 262px;
}

.pagewrap.main {
    width: 656px;
}

.pagewrap.left {
    float: left;
}

.pagewrap.right {
    float: right;
}

/* elements ================================================= */
/* tile enabler */
.tileenabler {
    margin: 0 -16px -16px 0 !important;
    width: 672px;
}

.tileelement {
    display: inline-block;
    margin: 0 16px 16px 0;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
    box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}

    .tileelement.fullwidthtile {
        margin-right: 0 0 16px 0;
    }

.elementwrap {
    display: block;
    position: relative;
}

.elementbody {
    position: absolute;
    top: 0;
    left: 0;
    background: #444444 no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

    .elementbody > div {
        display: table-cell;
        vertical-align: bottom;
    }

        .elementbody > div > span {
            display: block;
            background-color: rgba(0,0,0,0.6);
            color: #ffffff;
            font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
            padding: 8px 8px 2px;
        }

            .elementbody > div > span:last-child {
                padding-bottom: 8px;
            }

        .elementbody > div > .titleline {
            font-size: 14px;
            line-height: 12px;
        }

        .elementbody > div > .descline {
            font-size: 11px;
            line-height: 8px;
            color: #24bfb6;
        }

.elementoverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
}

    .elementoverlay:hover {
        opacity: 1;
    }

    .elementoverlay > a {
        display: block;
        color: #24bfb6;
    }

        .elementoverlay > a > div {
            display: table-cell;
            vertical-align: middle;
            font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
            font-size: 20px;
            line-height: 20px;
        }

            .elementoverlay > a > div > span {
                display: block;
                margin: 5px 0;
            }
/* content box ================================================= */
.contentbox {
    background: #ffffff;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    margin-bottom: 16px;
}

.contentboxtop {
    background: #eeeeee url(../images/begin-bg.png) repeat-x top;
    border: 1px solid rgba(238,238,238,0);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    padding: 16px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
}

    .contentboxtop > span {
        display: block;
    }

    .contentboxtop > .boxmeta {
        font-size: 10px;
        line-height: 10px;
        color: #888888;
        margin-bottom: 5px;
    }

    .contentboxtop > .boxtitle {
        font-size: 20px;
        line-height: 28px;
        color: #444444;
    }

    .contentboxtop > *:last-child {
        margin-bottom: 0;
    }

.contentboxtabs {
    margin: 10px 0 -16px !important;
}

    .contentboxtabs > a {
        font-weight: bold;
        display: inline-block;
        background: #eaeaea url(../images/tab-passive-bg.png) repeat-x bottom;
        height: 31px;
        line-height: 32px;
        border: 1px solid #e0e0e0;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 0 20px;
        margin-bottom: -1px;
        color: #666666;
    }

        .contentboxtabs > a:hover {
            color: #24c0d6;
        }

        .contentboxtabs > a.active {
            color: #333333;
            background: #ffffff;
            border-bottom: 1px solid #ffffff;
        }

    .contentboxtabs.side > a {
        padding: 0 10px;
    }

.contentboxbody {
    padding: 16px;
    overflow: hidden;
}

    .contentboxbody > *:last-child {
        margin-bottom: 0;
    }

.contentboxend {
    background: #e8e8e8 url(../images/end-bg.png) repeat-x top;
    border-top: 1px solid #e0e0e0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 16px;
    text-align: center;
}

    .contentboxend > *:last-child {
        margin-bottom: 0;
    }

    .contentboxend > a,
    .contentboxend > input {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

#dataloadingbox {
    background: #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    background: #eeeeee url(../images/begin-bg.png) repeat-x top;
    border: 1px solid rgba(238,238,238,0);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    padding: 16px;
    font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
    text-align: center;
    display: block;
}

/* sidebar boxes ================================================= */
.sidebox {
    background: #eeeeee url(../images/begin-bg.png) repeat-x top;
    border-top: 1px solid #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    padding: 16px;
}

    .sidebox > div > *:last-child {
        margin-bottom: 0;
    }

.sideboxtitle {
    font-size: 14px;
    font-weight: bold;
    font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
    line-height: 20px;
    color: #666666;
    margin-bottom: 10px;
}

#catbox > .sideboxbody > a {
    display: block;
    background: url(../images/arrow.png) no-repeat 16px center;
    padding: 8px 21px 8px 32px;
    margin: 0 -16px;
    vertical-align: middle;
    height: 20px;
}

    #catbox > .sideboxbody > a:hover {
        background: #cccccc url(../images/arrow.png) no-repeat 16px center;
    }

    #catbox > .sideboxbody > a > span {
        float: left;
        line-height: 20px;
        padding-top: 1px;
    }

    #catbox > .sideboxbody > a > .count {
        float: right;
        background: #bbbbbb;
        font-size: 10px;
        padding: 4px 6px 4px 6px;
        color: #ffffff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        height: 16px;
        margin: -2px 0;
    }

    #catbox > .sideboxbody > a:hover > .count {
        background: #999999;
    }

#navbox {
    background: #1c1c1c url(../images/begin-bg-dark.png) repeat-x top;
    border-top: 1px solid #3a3a3a;
}

    #navbox > .sideboxtitle {
        color: #888888;
    }

    #navbox > .sideboxbody {
        font-weight: bold;
    }

        #navbox > .sideboxbody > a {
            display: block;
            background: url(../images/menu/arrow.png) no-repeat 230px 5px;
            padding: 10px 40px 8px 16px;
            height: 18px;
            color: #666666;
            vertical-align: middle;
            margin: 0 -16px;
            font-weight: bold;
        }

            #navbox > .sideboxbody > a:hover {
                background: #24bfb6 url(../images/menu/arrow-hover.png) no-repeat 230px 5px;
                color: #ffffff;
            }

        #navbox > .sideboxbody > .paging {
            padding: 10px 40px 8px;
            text-align: center;
        }

            #navbox > .sideboxbody > .paging.prev {
                background: url(../images/menu/arrowrev.png) no-repeat 8px 5px;
            }

                #navbox > .sideboxbody > .paging.prev:hover {
                    background: #24bfb6 url(../images/menu/arrowrev-hover.png) no-repeat 8px 5px;
                }

#tagbox > .sideboxbody {
    margin: 0 -5px -5px 0 !important;
}

    #tagbox > .sideboxbody > a {
        display: inline-block;
        background: #eeeeee;
        background: -moz-linear-gradient(top,#eeeeee 0%,#dddddd 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top,#eeeeee 0%,#dddddd 100%);
        background: linear-gradient(top,#eeeeee 0%,#dddddd 100%);
        border: 1px solid #d8d8d8;
        border-bottom: 1px solid #cccccc;
        font-size: 11px;
        line-height: 20px;
        color: #666666;
        text-shadow: 0px 1px #ffffff;
        padding: 3px 6px 3px 6px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

        #tagbox > .sideboxbody > a:hover {
            background: #ffffff;
            background: -moz-linear-gradient(top,#ffffff 0%,#eeeeee 100%);
            background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#eeeeee));
            background: -webkit-linear-gradient(top,#ffffff 0%,#eeeeee 100%);
            background: linear-gradient(top,#ffffff 0%,#eeeeee 100%);
            border: 1px solid #dddddd;
            border-bottom: 1px solid #cccccc;
            color: #333333;
        }

        #tagbox > .sideboxbody > a:active {
            background: #eeeeee;
            box-shadow: none;
            border: 1px solid #dddddd;
            border-top: 1px solid #bbbbbb;
        }

/* footer ================================================= */
#footer {
    position: fixed;
    line-height: 29px;
    width: 938px;
    height: 29px;
    margin-left: -469px;
    left: 50%;
    bottom: 0;
    background-color: #111111;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #3a3a3a;
    z-index: 10;
    text-align: center;
    color: #eeeeee;
    font-family: 'PTSansCaption','STHeiti','Microsoft JhengHei','SimHei',sans-serif;
}

/* loadings ================================================= */
.loadingoverlay {
    padding: 50px;
    text-align: center;
    color: #666666;
}

.sidebox > .loadingoverlay {
    padding: 0 10px 10px;
}
